{% extends 'main.html' %} {% load static %} {% block content %}

<!-- Main Section -->
<main class="inbox my-xl">
  <div class="content-box">
    <h3 class="inbox__title">New Messages(<span>{{unread_count}}</span>)</h3>
    <ul class="messages">
      <p></p>
      {% for msg in user_messages %}
      <li class="message message--unread">
        <a href="{% url 'my_profile' msg.sender.id %}">
          <span class="message__author">{{msg.sender}}</span>
          <span class="message__subject">{{msg.body}}</span>
          <span class="message__date">{{msg.created}}</span>
        </a>
      </li>
      {% endfor %}
    </ul>
  </div>
</main>
{% endblock content %}
