{% extends 'main.html' %}
<!--  -->
{% block content %}
<style>
  td,
  th {
    padding-right: 60px;
  }
  th {
    padding-bottom: 10px;
  }
</style>
<h4>Projects</h4>
<table>
  <thead></thead>
  <tr>
    <th>ID</th>
    <th>Project</th>
    <th>Ration</th>
    <th>Votes</th>
    <th>Created</th>
  </tr>
  {% for project in projects %}
  <tr>
    <td>{{ project.id|truncatechars:5 }}</td>
    <td>{{ project.title }}</td>
    <td>{{ project.vote_ratio }}%</td>
    <td>{{ project.vote_total }}</td>
    <td>{{ project.created }}</td>
    <td><a href="{% url 'project' project.id %}"> View </a></td>
  </tr>
  {% endfor %}
</table>

{% endblock %}
